@import "./_general.css";
@import "./components/header/_header.css";
@import "./components/cart/_cart.css";
@import "./components/login_registration/_loginregistration.css";
@import "./components/products/_products.css";
@import "./components/game/_game.css";
@import "./components/utente/_dashboard.css";
@import "./components/utente/_ordini.css";
@import "./components/footer/_footer.css";

.settings-wrapper {
    color: white;
}

.settings-container {
    margin-top: 2rem;
    width: 100%;
}