#login-registration {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--section-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
    clip-path: circle(50px at 100% -10%);
}

#login-registration.active {
    clip-path: circle(200% at 100% -10%);
}

#login-registration div {
    flex: 1 1 50%;
}

#login-registration__form-container {
    position: relative;
    height: 100%;
    max-height: 80vh;
    overflow: hidden;
}

.login-registration-form {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: white;
    transition: opacity 250ms ease;
}

.login-registration-form.show {
    animation: show 250ms ease forwards;
}

.login-registration-form.hide {
    display: none;
    animation: hide 250ms ease forwards;
}

.login-registration-form h2 {
    margin-bottom: 2rem;
}

.login-registration-form__btn {
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
    color: white;
    font-size: calc(0.95em + 1vmin);
    cursor: pointer;
}

.login-registration-form__btn::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: white;
    transition: width 200ms ease;
}

.login-registration-form__btn:hover::after {
    width: 100%;
}

#login-registration__wallpaper {
    background-image: url("../../images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}


@keyframes show {
    0% {
        opacity: 0;
    }
  
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 768px) {

    #login-registration__form-container {
        max-height: 90vh;
    }

    #login-registration__wallpaper {
        display: none;
    }
}