<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="assets/css/style.css" />
		<title>Sort</title>
	</head>
	<body>
	<!-- header start -->
	<header>
		<nav>
			<a href="<%= request.getContextPath() %>/" id="logo" class="hs-1">HEKTIKS</a>
			<div class="search-bar">
				<input type="text" class="form-control" placeholder="Cerca..."/>
				<span><i class="fas fa-search"></i></span>
			</div>
			<div id="login-container">
					<div id="user-info">
						<p class="text">Patanella Bella Patana
						</p>
						<p class="text" id="user-balance">1052.36€
						</p>
					</div>
					<img src="./assets/uploads/users/avatar_placeholder.png" alt="profile pic">
				<div class="cart">
					<a href="<%= request.getContextPath() %>/carrello">
                    <span class="caret">
                        0
                    </span>
						<i class="fas fa-shopping-cart"></i>
					</a>
				</div>
			</div>
		</nav>
	</header>
	
		<div class="wrapper">
			<div class="main-content">
				<div class="user-general-info">
					<div class="user-card">
						<div class="user-card-header">
							<img src="./assets/uploads/users/avatar_placeholder.png" alt="<%= user.getUsername() %> immagine profilo">
						</div>
						<div class="user-card-body">
							<p class="hs-4" style="font-weight: bold; color: white; margin-bottom: 0.5rem">Porcodio</p>
							<p class="text" style="color: var(--grey)">Membro dal: 2 Luglio 2022</p>
						</div>
					</div>
				</div>
				<div class="breadcrumb text">
					<ul class="user-links">
						<li class="user-link"><a href="#">
							Dashboard</a>
						</li>
						<li class="user-link"><a href="#">I miei ordini</a></li>
						<li class="user-link"><a href="<%= request.getContextPath() %>/logout">Logout</a></li>
					</ul>
					<div class="user-settings-preview">
						<a href="#" class="user-link active"><i class="fas fa-cog"></i>
							Impostazioni</a>
					</div>
				</div>
				<div class="settings-wrapper dashboard-container">
					<h1 class="hs-3">Le mie impostazioni</h1>
					<form action="#" method="POST" enctype="multipart/form-data" class="settings-container">
						<div class="form-body">
							<div class="row">
								<input type="file" class="form-control" name="profile_pic" id="profile_pic" accept="image/*">
								<input type="text" class="form-control" name="username" id="username" placeholder="Username">
							</div>
							<div class="row">
								<input type="email" name="email" id="email" class="form-control" placeholder="Email">
								<input type="email" name="email" id="email" class="form-control" placeholder="Conferma Email">
							</div>
						</div>
						<div class="form-footer">
							<button type="submit" class="btn">Invia</button>
						</div>
					</form>	
				</div>
			</div>
		</div>

		<script src="https://kit.fontawesome.com/bedafbbe2b.js"></script>
		<script src="assets/js/app.js"></script>
	</body>
</html>
